/* segunda opcion que pide el cliente< */
/* Por hacer: hay que poner el h1 por encima de la imagen y el logo al costado del article, segun como se muestra en el diseño */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
--color1:rgb(255, 204, 0);
--color2:rgba(7, 167, 176, 0.582);
--back1:rgb(0, 167, 162);
}
header {
    display: grid;
    grid-template-areas: 1/6;
    width: 100%;
}
figure{
    display: grid;
    grid-row: 3/3;
    justify-content: end;
    grid-column: 2/2;
    justify-items: end;
}
img{
    width: 6rem;
    height: 6rem;
}
figure>.fondo{
    background-image: url("/src/img/hockey1.jpg");
    object-fit: contain;
}
h1 {
    margin: 0.5em;
    font-size: 2.5rem;
    grid-row: 1/1;
}
header>nav{
    margin: 1rem;
    display: flex;
    align-items: flex-start;
}
nav>a{
    margin: 1rem;
    padding: 0.5rem;
    background-color: var(--color2);
    border-radius: 0.5rem;
}
a{
    text-decoration: none;
    color: var(--color1);
    font-size: 1.2rem;
    font-weight: bolder;
}
a:hover{
    color: var(--color2);
    background-color: var(--color1);
    margin: 0.8rem;
    /* despus quitar este margin que da ilucion de animacion */
}
main{
    display: grid;
    background-color:var(--back1);
}
h2 {
    background: var(--color1);
    color: rgb(0, 0, 0);
    margin: 0%;
    padding: 1rem;
    text-align: center;
}
article{
    display: grid;
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
    justify-items: center;
    background-color: rgba(151, 204, 234, 0.292);
    border-radius: 1rem;
}
article>h2,p{
    margin: 1rem;
}
footer{
    display: grid;
    padding: 1rem;
    justify-content: center;
    background-color: var(--color1);
}
h4{
    margin-bottom: 1rem;
    text-align: center;
    color: rgb(0, 0, 0);
}
.redes{
    display: grid;
    justify-items: center;
}
.redes a{
    grid-column: auto;
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0.2rem;
    color: rgb(255, 250, 219);
    color: var(--color2);
}
.redes a:hover{
    padding: 0.5rem;
    color: var(--color1);
    background-color: var(--color2);
    border-radius: 1rem;
    box-shadow: 1px 1px 5px 2px rgba(86, 183, 175, 0.41);
}
.header{
    background-image: url("/src/img/hockey1.jpg");
    width: 100%;
    height: 30%;
}
/* .logo{

} */