/* siempre poner este estilo general para anular las configuracion que tiene cada clase por defecto */
/* terminado */
* {
    margin: 0%;
    padding: 0%;
    /* box-sizing: border-box; */
    font-family:'Comic Neue', cursive;
    color: black;
}
:root{
    --colorS3-1: rgb(199, 188, 161);
    --colorS3-2: rgb(52, 77, 103);
    --backS3-1: rgb(132, 210, 197);
    --backS3-2: rgb(228, 201, 136);
}
header{
    width: 100%;
}
h1 {
    margin: 0.5em;
    font-size: 3rem;
    color: var(--backS3-2);
    text-shadow: 0rem 0rem 0.2rem rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 0.5rem;
    /* grid-row: 1/1; */
}
header>figure{
    object-fit: contain;
}
nav{
    margin: 1rem;
    width: 20%;
    position: absolute;
    top: 44.5rem;
    left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
nav>a{
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.2rem;
    background-color: var(--colorS3-1);
    border-radius: 1rem;
    margin: 0.9rem;
    /* color: black; */
}
a{
    text-decoration: none;
    color: var(--backS3-2);
    text-shadow: 0rem 0rem 0.2rem rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: bolder;
}
a:hover{
    color: var(--colorS3-2);
    text-shadow: 0rem 0rem 0.2rem var(--backS3-2);
    background-color: var(--colorS3-1);
    border-radius: 1rem;
    /* despus quitar este margin que da ilucion de animacion */
}
main{
    display: flex;
    flex-direction: column;
    background-color:var(--colorS3-1);
}
h2{
    color: white;
    background-color: black;
    margin: 0%;
    padding: 1rem;
    text-align: center;
}
article{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
    background-color: var(--backS3-2);
    border-radius: 1rem;
}
article>h3,p{
    margin: 1rem;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--backS3-1);
}
h4{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}
aside{
    display: none;
}
form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20rem;
}

label {
    padding: 1rem;
}

input {
    margin: 1rem;
    width: 60%;
    height: 8rem;
    border-radius: 0.5rem;
}

button {
    width: 5rem;
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: 1rem;
    color: var(--colorS3-2);
    background-color: var(--colorS3-1);
    border-radius: 0.5rem;
}
button:hover{
    color: var(--colorS3-2);
    background-color: var(--backS3-1);
}
.fondo{
    width: 100%;
    height: 40rem;
}
.logo{
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: 18rem;
    right: 4rem;
    /* background-color: var(--color1); */
    /* border-radius: 1rem; */
}
.home{
    padding-left: 20rem;
}
.redes a{
    font-size: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    margin: 1rem;
    color: var(--colorS3-1);
}
.redes a:hover{
    color: var(--colorS3-2);
    background-color: var(--colorS3-1);
    border-radius: 1rem;
    /* box-shadow: 1px 1px 5px 2px rgba(255, 241, 153, 0.41); */
}
.autor{
    margin: 1rem;
}
.aboutS1{
    text-align: left;
    width: 40%;
    margin-left: 20rem;
    padding: 2rem;
}
.navS1{
    top: 48rem;
}
.navcontS1{
    top: 53rem;
}
.navAbout{
    padding-top: 3rem;
}
.contact{
    padding-left: 2rem;
    display: flex;
    justify-content: center;
}
.formCont{
    padding-left: 19rem;
}
.mod2, .mod3{
    display: none;
}