/* siempre poner este estilo general para anular las configuracion que tiene cada clase por defecto */
* {
    margin: 0%;
    padding: 0%;
    /* box-sizing: border-box; */
    font-family:'Comic Neue', cursive;
}
:root{
--color1:rgb(255, 204, 0);
--color2:rgba(7, 168, 176, 0.788);
--back1:rgb(0, 167, 162);
--back2:rgb(255, 224, 99);
}
header{
    width: 100%;
    display: grid;
}
figure{
    display: grid;
    grid-row: 3/3;
    justify-content: end;
}
h1{
    margin: 0.5em;
    font-size: 2.5rem;
}
h2{
    background: black;
    color: white;
    margin: 0%;
    padding: 1rem;
    text-align: center;
}
header>nav{
    display: flex;
    margin: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
}
nav>a{
    padding: 0.5rem;
    margin: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    color:   rgb(0, 154, 144);
    background-color: rgba(9, 106, 106, 0.108);
    box-shadow: 0px 2px 10px 0px black;
    grid-row: 3/2;
}
nav>a:hover{
    color: rgb(255, 208, 0);
    background-color: rgba(0, 125, 117, 0.593);
}
main{
    background: rgb(255, 215, 170);
}
main>article{
    display: grid;
    padding: 1rem;
}
h3{
    grid-column: 1/2;
    padding: 2rem;
    text-align: center;
}
p{
    grid-column: 2/2;
    text-align: center;
    align-self: center;
}
footer{
    display: grid;
    padding: 1rem;
    background: rgb(255, 219, 90);
}
h4{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem;
}
footer>div{
    margin: 1rem;
    display: grid;
    grid-column: auto;
    justify-content: center;
}
.header{
    background-image: url("/src/img/hockey1.jpg");
    width: 100%;
    height: 30%;
}
/* header>div{
    display: flex;
} */
figure>.fondo{
    background-image: url("/src/img/hockey1.jpg");
    object-fit: contain;
}
.logo{
    width: 6rem;
    height: 6rem;
    justify-items: end;
}
/* .nav-bar{
    display: block;
} */
.redes a{
    text-decoration: none;
    text-align: center;
    margin: 0.4rem;
    padding: 0.2rem;
    color: rgb(255, 149, 0);
    box-shadow: 0px 2px 10px 0px rgba(255, 246, 150, 0.733);
    background-color: rgba(255, 217, 3, 0.655);
}
.redes a:hover{
    color: rgb(0, 107, 113);
    background-color: rgba(255, 235, 121, 0.655);
}
.autor{
    padding: 1rem;
}